html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
.profile_produtor{background-color: black; opacity: 0.7; color:white;}
i{color:white;}
.nome{color:#527b80; font-weight: bold;}